:root {
    --secondary: #2E403A;
    --secondary-light: #CFE8E0;
    --text: #24010C;
}

.products-container {
    width: 60vw;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-light);
    border: 3px solid var(--secondary);
    border-radius: 5px;
    padding: 0px;
    margin-top: 0.7rem;
}

.product-category {
    justify-content: center;
    padding: 5px;
    background-color: var(--secondary);
    text-align: center;
    font-size: larger;
    color: var(--secondary-light);
}

.category-items {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 8px;
    text-align: left;
    color: var(--text);
}

.items {
    display: flex;
    flex-direction: row;
    height: 2rem;
    align-items: center;
}

.amount {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
}


.items p {
    margin: 0;
    font-size: large;
    align-self: center;
}

.amount p {
    margin: 0;
    font-size: large;
}

@media screen and (max-width: 800px) {
    .products-container {
        width: 100%;
        border-radius: 0;
        border-left: none;
        border-right: none;
    }

}