.products-container {
    width: 70vw;
    display: flex;
    flex-direction: column;
    background-color: #CFE8E0;
    border: 3px solid #2E403A;
    border-radius: 5px;
    padding: 0px;
    margin-top: 0.7rem;
}

.product-category {
    justify-content: center;
    padding: 5px;
    background-color: #2E403A;
    text-align: center;
    font-size: larger;
    color: #CFE8E0;
}

.category-items {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 8px;
    text-align: left;
    color: #24010C;
}

.items {
    display: flex;
    flex-direction: row;
    height: 2rem;
    align-items: center;
}

.amount {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
}


.items p {
    margin: 0;
    font-size: large;
    align-self: center;
}

.amount p {
    margin: 0;
    font-size: large;
}

@media screen and (max-width: 1010px) {
    .products-container {
        width: 100%;
        border-radius: 0;
        border-left: none;
        border-right: none;
    }

    .category-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 8px;
        text-align: center;
        
    }

    .items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .amount {
        display: flex;
        flex-direction: row;
        margin: 0;
        justify-content: center;
        align-items: center;
    }
    
}