:root {
    --primary: #009463;
    --primary-light: #E0FFF5;
    --secondary: #2E403A;
    --secondary-light: #CFE8E0;
    --text: #24010C;
}

.products-container {
    width: 60vw;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-light);
    border: 3px solid var(--secondary);
    border-radius: 5px;
    padding: 0px;
    margin-top: 0.7rem;
}

.product-category {
    justify-content: center;
    padding: 5px;
    background-color: var(--secondary);
    text-align: center;
    font-size: larger;
    color: var(--secondary-light);
}

.category-items {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 8px;
    text-align: left;
    color: var(--text);
}

.items {
    display: flex;
    flex-direction: row;
    height: 2rem;
    align-items: center;
}

.amount {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
}


.items p {
    margin: 0;
    font-size: large;
    align-self: center;
}

.amount p {
    margin: 0;
    font-size: large;
}


.alert-shown {
    position: fixed;
    padding: 10px;
    color: var(--primary);
    background-color: var(--primary-light);
    border: 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--primary);
    opacity: 1;
}

.alert-hidden {
    position: fixed;
    padding: 10px;
    color: var(--primary);
    background-color: var(--primary-light);
    border: 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--primary);
    opacity: 0;
    transition: opacity 1.5s linear 0.2s;
}

.alert-shown-err {
    position: fixed;
    padding: 10px;
    color: var(--text);
    background-color: #dfb3c1;
    border: 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--text);
    opacity: 1;
}

.alert-hidden-err {
    position: fixed;
    padding: 10px;
    color: var(--text);
    background-color: #dfb3c1;
    border: 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--text);
    opacity: 0;
    transition: opacity 1.5s linear 0.2s;
}

@media screen and (max-width: 800px) {
    .products-container {
        width: 100%;
        border-radius: 0;
        border-left: none;
        border-right: none;
    }

}