:root {
  --primary: #009463;
  --primary-light: #E0FFF5;
  --secondary: #2E403A;
  --secondary-light: #CFE8E0;
  --text: #24010C;
}

  .btn {
    padding: 5px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .btn--primary {
    background-color: var(--primary-light);
    color: var(--primary);
    border: 3px solid var(--primary-light);
  }

  .btn--primary-rev {
    background-color: var(--primary);
    color: var(--primary-light);
    border: 3px solid var(--primary);
  }
  
  .btn--outline {
    background-color: var(--primary);
    color:var(--primary-light);
    padding: 5px 20px;
    border: 3px solid var(--primary-light);
    transition: all 0.5s ease-out;
  }

  .btn--warn {
    background-color: var(--primary-light);
    color: var(--text);
    border: 3px solid var(--primary-light);
  }

  .btn--dark {
    background-color: var(--secondary);
    color: var(--secondary-light);
    border: 3px solid var(--secondary);
  }

  .btn--dark-rev {
    background-color:var(--secondary-light);
    color: var(--secondary);
  }
  
  .btn--light-rev {
    background-color:var(--primary-light);
    color: var(--primary);
  }
  
  .btn--small {
    padding: 0px 10px;
    font-size: 1rem;
    font-weight: 600;
    margin:10px;
  }

  .btn--medium {
    padding: 5px 20px;
    font-size: 15px;
    font-weight: 600;
    margin: 5px;
  }
  
  .btn--large {
    padding: 10px 24px;
    font-size: 18px;
    font-weight: 800;
    margin: 5px;
  }

  .btn--large-icon {
    padding: 0 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
  }

  .btn--small-icon {
    padding: 0px 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    margin:0px;
  }
  
  .btn--primary:hover,
  .btn--outline:hover {
    transition: all 0.5s ease-out;
    background: var(--primary-light);
    color: var(--text);
    text-shadow: 0 0 10px var(--primary);
  }

  .btn--warn:hover {
    transition: all 0.5s ease-out;
    background-color: var(--primary-light);
    color: #b8013b;
    text-shadow: 0 0 10px #dfb3c1
  }
  
  .btn--dark:hover {
    transition: all 0.5s ease-out;
    color: var(--text);
    text-shadow: 0 0 8px var(--secondary-light);
  }

  .btn--dark-rev:hover {
    transition: all 0.5s ease-out;
    color: var(--text);
    text-shadow: 0 0 8px var(--primary);
  }