:root {
    --secondary: #2E403A;
    --secondary-light: #CFE8E0;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: justify;
    align-items: center;
    width: 70vw;
    padding: 1rem;
    border: 3px solid var(--secondary);
    background-color: var(--secondary-light);
    border-radius: 5px;
}

.about-container p {
    margin: 0;
}

@media screen and (max-width: 800px) {
    .about-container {
        width: 100%;
        border-radius: 0;
        border-left: none;
        border-right: none;
    }
}