.shelves-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 95vw;
    justify-content: center;
    color: #24010C
}

.shelf-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 150px;
    margin: 0.7rem;
    border: 3px solid #2E403A;
    background-color: #CFE8E0;
    border-radius: 5px;
}

.shelf-categories-container {
    display: flex;
    flex-direction: column;
    /* min-height: 150px; */
    margin: 0;
    padding: 0;
    background-color: #E0FFF5;
}

.no-shelf-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 150px;
    margin: 0.7rem;
    border: 3px solid #009463;
    background-color: #E0FFF5;
    border-radius: 5px;
}

.shelf-name {
    justify-content: center;
    padding: 5px;
    background-color: #2E403A;
    text-align: center;
    font-size: larger;
}

.no-shelf-name {
    justify-content: center;
    padding: 5px;
    background-color: #009463;
    text-align: center;
}

.shelf-name a {
    text-decoration: none;
    color: #CFE8E0;
    font-size: larger;
}

.no-shelf-name a {
    text-decoration: none;
    color: #E0FFF5;
    font-size: larger;
}

.shelf-name a:hover,
.no-shelf-name a:hover {
    color: #24010C;
    transition: 0.5s ease-in-out;
}

.shelf-items {
    justify-content: left;
    padding: 10px;
    text-align: left;
    color: #24010C;
    font-size: large;
}

.shelf-items-name {
    display: inline-block;
}

.shelf-items ul {
    list-style-type: number;
    margin: 0;
    padding: 0;
}

.shelf-items li {
    display: flex;
    flex-direction: row;
}


/* Shelf  */

.shelf-head {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.shelf-head h1{
    margin-bottom: 0;
}

.add-category {
    height: 4rem;
}

.add-product {
    height: 3rem
}

@media screen and (max-width: 1010px) {
    .shelf-categories-container {
        width: 100%;
        border-radius: 0;
        border-left: none;
        border-right: none;
    }

    .add-category {
        width: 100%;
    }
}