:root {
    --primary: #009463;
    --primary-light: #E0FFF5;
    --secondary: #2E403A;
    --secondary-light: #CFE8E0;
    --text: #24010C;
}

.shelves-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 95vw;
    justify-content: center;
    color: var(--text)
}

.shelf-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 150px;
    margin: 0.7rem;
    border: 3px solid var(--secondary);
    background-color: var(--secondary-light);
    border-radius: 5px;
}

.shelf-categories-container {
    display: flex;
    flex-direction: column;
    /* min-height: 150px; */
    margin: 0;
    padding: 0;
    background-color: var(--primary-light);
}

.no-shelf-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 100px;
    margin: 0.7rem;
    border: 3px solid var(--primary);
    background-color: var(--primary-light);
    border-radius: 5px;
}

.shelf-name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: var(--secondary);
    text-align: center;
    font-size: larger;
}

.no-shelf-name {
    justify-content: center;
    padding: 5px;
    background-color: var(--primary);
    text-align: center;
    font-size: larger;

}

.shelf-name a {
    text-decoration: none;
    color: var(--secondary-light);
    font-size: larger;
}

.no-shelf-name a {
    text-decoration: none;
    color: var(--primary-light);
    font-size: larger;
}

.shelf-name a:hover,
.no-shelf-name a:hover {
    color: var(--text);
    transition: 0.5s ease-in-out;
}

.shelf-items {
    justify-content: left;
    padding: 10px;
    text-align: left;
    color: var(--text);
    font-size: large;
}

.shelf-items-name {
    display: inline-block;
}

.shelf-items ul {
    list-style-type: number;
    margin: 0;
    padding: 0;
}

.shelf-items li {
    display: flex;
    flex-direction: row;
    height: 2rem;
}


/* Shelf  */

.shelf-head {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.shelf-head h1{
    margin-bottom: 0;
}

.add-category {
    height: 4rem;
}

.add-product {
    height: 3rem
}

.category-product-list {
    display: flex;
    flex-direction: column;
}

.category-items-shelf {
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: left;
    color: var(--text);
}


@media screen and (max-width: 800px) {
    .shelf-categories-container {
        width: 100%;
        border-radius: 0;
        border-left: none;
        border-right: none;
    }

    .add-category {
        width: 100%;
    }

    .category-product-list {
        padding-top: 5px;
    }

    .category-items-shelf {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        text-align: center;
    }
}