.shop-container {
    width: 70vw;
    display: flex;
    flex-direction: column;
    background-color: #CFE8E0;
    border: 3px solid #2E403A;
    border-radius: 5px;
    padding: 0px;
    margin-top: 0.7rem;
}

.product-category {
    justify-content: center;
    padding: 5px;
    background-color: #2E403A;
    text-align: center;
    font-size: larger;
    color: #CFE8E0;
}

.category-items-shopping {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 0;
    text-align: left;
    color: #24010C;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.item h4 {
    margin: 0 0 0 0;
}

.options {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
}

.options p {
    margin: 0;
    padding: 8px;
}


/* GetListModal */
.list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #CFE8E0;
    border: 3px solid #2E403A;
    border-radius: 5px;
    padding: 0px;
    margin-top: 0.7rem;
}

.item-category-items {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 4px;
    text-align: left;
    color: #24010C;
}

.item-name  {
    margin: 0;
    align-items: center;
}
.item-name p {
    margin: 0;
    padding: 4px;
}

.item-options {
    margin-left: auto;
    align-items: center;
}

.item-options p {
    margin: 0;
    padding: 4px;
}


@media screen and (max-width: 800px) {
    .shop-container {
        width: 100%;
        border-radius: 0;
        border-left: none;
        border-right: none;
    }

    .category-items-shopping {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        text-align: center;
    }

    .product {
        display: flex;
        flex-direction: column;
        margin: 10px 0 10px 0;
    }

    .item {
        justify-content: center;
        margin: 0;
        height: 2rem;
    }

    .item p {
        margin-bottom: 0;
    }

    .options {
        justify-content: center;
        margin: 0;

    }
}
/* print in another component version */

/* @media print {
    body * {
        visibility: hidden;
    }
    .section-to-print, .section-to-print * {
        visibility: visible;
        page-break-after: always !important;
    }
    .section-to-print {
        position: absolute;
        left: 0;
        top: 0;
        page-break-after: always !important;
    }
} */

/* print in modal version */

@media print {
    body * {
        visibility: hidden;
    }
    .section-to-print-modal, .section-to-print-modal * {
        visibility: visible;
    }

    .modal { 
        width: auto;
        height: auto;
        overflow: visible !important;
        position: absolute
    }

}