:root {
    --secondary: #2E403A;
    --secondary-light: #CFE8E0;
    --text: #24010C;
}

.category-items-shopping {
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: left;
    color: var(--text);
}

.category-product-list-shop {
    display: flex;
    flex-direction: column;
}

/* GetListModal */
.list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-light);
    border: 3px solid var(--secondary);
    border-radius: 5px;
    padding: 0px;
    margin-top: 0.7rem;
}

.item-category-items {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 4px;
    text-align: left;
    color: var(--text);
}

.item-name  {
    margin: 0;
    align-items: center;
}
.item-name p {
    margin: 0;
    padding: 4px;
}

.item-options {
    margin-left: auto;
    align-items: center;
}

.item-options p {
    margin: 0;
    padding: 4px;
}


@media screen and (max-width: 800px) {
    .shop-container {
        width: 100%;
        border-radius: 0;
        border-left: none;
        border-right: none;
    }

    .category-items-shopping {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        text-align: center;
    }

    .category-product-list-shop {
        padding-top: 5px;
    }

    .product {
        display: flex;
        flex-direction: column;
        margin: 10px 0 10px 0;
    }

}
/* print in another component version */

/* @media print {
    body * {
        visibility: hidden;
    }
    .section-to-print, .section-to-print * {
        visibility: visible;
        page-break-after: always !important;
    }
    .section-to-print {
        position: absolute;
        left: 0;
        top: 0;
        page-break-after: always !important;
    }
} */

/* print in modal version */

@media print {
    body * {
        visibility: hidden;
    }
    .section-to-print-modal, .section-to-print-modal * {
        visibility: visible;
    }

    .modal { 
        width: auto;
        height: auto;
        overflow: visible !important;
        position: absolute
    }
}