.shop-container {
    width: 70vw;
    display: flex;
    flex-direction: column;
    background-color: #CFE8E0;
    border: 3px solid #2E403A;
    border-radius: 5px;
    padding: 0px;
    margin-top: 0.7rem;
}

.product-category {
    justify-content: center;
    padding: 5px;
    background-color: #2E403A;
    text-align: center;
    font-size: larger;
    color: #CFE8E0;
}

.category-items {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 8px;
    text-align: left;
    color: #24010C;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.item h4 {
    margin: 0 0 0 0;
}

.options {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
}

.options p {
    margin: 0;
    padding: 8px;
}

@media screen and (max-width: 1010px) {
    .shop-container {
        width: 100%;
        border-radius: 0;
        border-left: none;
        border-right: none;
    }

    .category-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 8px;
        text-align: center;
    }

    .product {
        display: flex;
        flex-direction: column;
        margin: 10px 0 10px 0;
    }

    .item {
        justify-content: center;
        flex-direction: row-reverse;
    }

    .options {
        justify-content: center;
        margin: 0;
    }
}