:root {
    --primary: #009463;
    --primary-light: #E0FFF5;
    --text: #24010C;
}

.page-container {
    min-height: calc(100vh - 60px);
    padding-bottom: 2rem;
    padding-top: 90px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    object-fit: contain;
    background-color: var(--primary-light);
    color: var(--text);
}

.link-main {
    text-decoration: none;
    color: var(--primary);
    font-size: large;
    font-weight: 600;
}

.link-main:hover {
    transition: all 0.5s ease-out;
    color: var(--text);
    text-shadow: 0 0 10px var(--primary);
}