:root {
    --primary: #009463;
    --primary-light: #E0FFF5;
    --secondary: #2E403A;
    --secondary-light: #CFE8E0;
    --text: #24010C;
}


.btn-primary {
    background-color: var(--primary);
    color: var(--primary-light);
    border-color: var(--primary);
}

.btn-primary:hover {
    background-color: RGB(0, 148, 99, 0.7);
    color: var(--text);
    transition: 0.5s ease-out;
}

.btn-primary:focus {
    background-color: RGB(0, 148, 99, 0.7);
    color: var(--text);
}

.btn-primary:active {
    background-color: RGB(0, 148, 99, 0.7);
    color: var(--text);
}

.btn-primary:disabled {
    background-color: var(--primary);
    color: var(--primary-light);
    opacity: 50%;
}

.btn-secondary {
    background-color: var(--secondary);
    color: var(--secondary-light);
    border-color: var(--secondary);
}

.btn-secondary:hover {
    background-color: RGB(46, 64, 58, 0.7);
    color: var(--text);
    transition: 0.5s ease-out;
}

.btn-secondary:focus {
    background-color: RGB(46, 64, 58, 0.7);
    color: var(--text);
}

.btn-secondary:active {
    background-color: RGB(46, 64, 58, 0.7);
    color: var(--text);
}

.btn-secondary:disabled {
    background-color: var(--secondary);
    color: var(--secondary-light);
    opacity: 50%;
}

.input {
    width:100%
}